/*
 * The breakpoints are copied from [Bulma's container][bulma-container].
 *
 * [bulma-container]: https://bulma.io/documentation/layout/container/
 */

header.header {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

header.header .thumbnail img {
    width: 100%;
    max-width: 800px;
}

section.content {
    width: 100%;
    margin: auto;
}

section.content .subtitle {
    display: flex;
    flex-direction: column-reverse;
}

section.content .subtitle .timestamp {
    /* https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.content .subtitle a {
    text-decoration: none;
}

section.content .subtitle time {
    background-color: #ffedd1;
    padding: 1px;
}

/* Medium devices */
@media only screen and (min-width: 1127px) {
    header.header {
        width: 960px;
    }

    section.content {
        width: 960px;
    }

    section.content .subtitle .timestamp {
        /* Pull timestamp to the left on desktop. */
        transform: translateX(-110%);
        position: absolute;
    }
}
